In [1]:
# Tuple: Data Structure of Python Programming
# Tuple is Immutable whereas List is Mutable

tup = () # Define tuple : tup()
tup = (1,2,3,4,5,6,7)
tup = ('Hii','Hello','Bye','Welcome')
tup = (1.11,2.222,3.43434)
tup = (True,False)

In [2]:
tup = (10,20,30,2.121,4343.232323,'Helloworld',True,False)

In [3]:
tup.count(20)

1

In [4]:
tup.index(30)

2

In [5]:
# Using Concept of Indexing and Slicing
tup = (100,200,(300,400,[500,600,700,800],1,2,3),4,5)
print(tup[2][2][1:3])

[600, 700]

In [6]:
# Dictionary : Data Structure of Python Programming
# Dictionary is Mutable in Nature
'''
dict = {'Key': Value}
'''
d = {'Country':['India','USA','UK'],
     'GDP': [9,6,8]}

print(d)

{'Country': ['India', 'USA', 'UK'], 'GDP': [9, 6, 8]}

In [7]:
# Using Concept of Indexing
d['Country']

['India', 'USA', 'UK']

In [8]:
d['Country'][1]

'USA'

In [9]:
d['GDP'][2]

8

In [10]:
d['GDP'][:2]

[9, 6]

In [11]:
d.clear()

In [12]:
d

{}

In [13]:
d = {'Country':['India','USA','UK'],
     'GDP': [9,6,8]}

In [14]:
d.keys()

dict_keys(['Country', 'GDP'])

In [15]:
d.items()

dict_items([('Country', ['India', 'USA', 'UK']), ('GDP', [9, 6, 8])])

In [16]:
d.values()

dict_values([['India', 'USA', 'UK'], [9, 6, 8]])

In [17]:
d['Country'].pop()

'UK'

In [18]:
print(d)

{'Country': ['India', 'USA'], 'GDP': [9, 6, 8]}

In [19]:
tup1 = (1,2,3,4)
tup2 = (5,6,7,8)
print(tup1+tup2)

(1, 2, 3, 4, 5, 6, 7, 8)

In [20]:
e = tup1*3
print(type(e))

<class 'tuple'>

In [21]:
a = '1234'
b = '3456'
c = 5
d = a*c
print(type(a*c))
print(d)

<class 'str'>
12341234123412341234

In [22]:
# Loops
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [23]:
for i in range(0,10):
    print(i,end = ' ')

0 1 2 3 4 5 6 7 8 9

In [24]:
# If Else Logic
num  = 400
if num <=200:
    print('Num is less than 200')
elif num > 300 and num <500:
    print('Num is sdasdasdasdasd')
else:
    print('Num is greater than 200')

Num is sdasdasdasdasd

In [25]:
''' 
Step1 : Enter the marks from User
Step2 : Logic Building
        80 >= Bright Student
        60 and 79 : Good Student
        40 and 59 : Average Student
        below 39  : Weak Student 
'''
marks = float(input('Enter the Marks: '))

if marks >= 80:
        print('Bright Student')
elif marks > 60 and marks < 79:
        print('Good Student')
elif marks > 40 and marks < 59:
        print('Average Student')
else:
        print('Weak Student')

Average Student

In [26]:
# Print whether the given string is Palindrom or not
''' 
Step1 : Input a string from user
Step2 : 
       string = Text
       string1 = string[::-1]
       if condition:
       else :
           condition
       
'''
string = input('Enter the String: ')
string1 = string[::-1]

if string.lower() == string1.lower():
    print('The Entered String is Palindrom')
else:
    print('Entered String is not a Palindrom')

Entered String is not a Palindrom

In [33]:
''' 
*
**
***
****
*****
******
'''

for i in range(1,7):
    print(i*'*')

*
**
***
****
*****
******

In [27]:
# PEMDAS
(100*2+(30/2))

215.0

In [28]:
(100*2+(30//2))

215

In [29]:
20**2

400

In [34]:
100+200

300

In [35]:
300 -200

100

In [41]:
# / : Answer will be in Float
100/2

50.0

In [42]:
# // : Answer will be in int

100//2

50

In [ ]:
# Moduleo Operator
100%2

0

In [44]:
1000%3

1

In [ ]:
# Exponent Operator: **

print(10**2)
print(4**0.5)

In [45]:
(10**2+345-23+(20//2))

432

In [ ]:
''' 
Step1: Ask the user to enter the value
Step2: Check whether the number is even or not
'''
def num():
    num = float(input('Enter the Number: '))
    if num % 2 == 0:
        print('Entered Number is Even')
    else:
        print('Entered Number is Odd')
        
num()

Entered Number is Odd

In [ ]:
a = ['Hii',"World","Python"]
for i in a:
    print(i.lower())

hii
world
python